[global]
repo-path=/pgbackrest/repl_01/backup
log-path=/pgbackrest/repl_01/log
log-level-console=error
log-level-file=info
repo1-retention-full=1

[repl_01]
pg1-host=acs02
pg1-port=5432
pg1-path=/var/lib/postgresql/11/repl_01
pg1-host-user=postgres
pg2-host=db02
pg2-port=5432
pg2-path=/var/lib/postgresql/11/repl_01
pg2-host-user=postgres
pg3-host=web02
pg3-port=5432
pg3-path=/var/lib/postgresql/11/repl_01
pg3-host-user=postgres
